.history-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  color: white;
}

.history-container h2 {
  margin-bottom: 2rem;
}

.history-container table {
  text-align: left;
  border-collapse: collapse;
  max-width: 1000px;
  width: 100%;
}

.history-container td,
th {
  border: 1px solid white;
  padding: 1rem;
}
