.list {
  margin: auto;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  justify-content: center;
}

.list .no-results {
  font-size: 2rem;
  color: white;
}
